/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video,
details,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
label + input {
  margin: 8px 0 0;
}
input {
  padding: 13px 12px;
  width: 100%;
  border: 1.5px solid #b3bdc7;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 15px;
  line-height: 22px;
  color: #2b343d;
  &::placeholder {
    color: #b3bdc7;
  }
}
button {
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
  }
}

select {
  & {
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  &::-ms-expand {
    display: none;
  }
}
